<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand font-weight-bold" routerLink="/">Athwela</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <!-- 
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                <a class="nav-link" alt="search" href="#" [routerLink]="['/']">
                    <fa-icon [icon]="['fas', 'search']"></fa-icon>
                </a>
            </li>
            -->
        </div>

        <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive" [collapse]="isCollapsed">
            <ul class="navbar-nav ml-auto">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link btn btn-default" href [routerLink]="['']">Home</a>
                </li>
                <!-- Anonymous -->
                <ng-template [ngIf]="!loggedIn">
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                        <a class="nav-link btn btn-default" href [routerLink]="['/campaigns']">Donate</a>
                    </li>
                    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                        <a class="nav-link btn btn-default" href [routerLink]="['/how-it-works']">How It Works</a>
                    </li>
                </ng-template>

                <ng-template [ngIf]="loggedIn">
                    <!-- Administrator -->
                    <ng-template [ngIf]="isAdmin">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/admin/campaigns']">Campaigns</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/admin/donations']">Donations</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/admin/users']">Users</a>
                        </li>
                        <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/admin/moderators']">Moderators</a>
                        </li> -->
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/admin']">Dashboard</a>
                        </li>
                    </ng-template>


                    <!-- Moderator -->
                    <ng-template [ngIf]="isMod">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/mod/campaigns']">Campaigns</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/mod/users']">Users</a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/mod']">Dashboard</a>
                        </li>
                    </ng-template>



                    <!-- User -->
                    <ng-template [ngIf]="isUser">
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/campaigns']">
                                Donate
                            </a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/campaign/new']">
                                Start a Campaign
                            </a>
                        </li>
                        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/how-it-works']">
                                How it Works
                            </a>
                        </li>
                        <li *ngIf="isUser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
                            class="nav-item">
                            <a class="nav-link btn btn-default" href [routerLink]="['/profile']">
                                Profile
                            </a>
                        </li>
                    </ng-template>


                    <li class="nav-item">
                        <a class="btn btn-info nav-link text-white ml-md-2 ml-xs-0" (click)="onLogoutClick()">
                            Sign out
                        </a>
                    </li>
                </ng-template>

                <ng-template [ngIf]="!loggedIn">
                    <li class="nav-item">
                        <a class="btn btn-default nav-link" (click)="openLoginModal()">
                            Sign in
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary nav-link text-white ml-md-2 ml-xs-0" (click)="openRegisterModal()">
                            Register
                        </a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>