@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./assets/growth/bootstrap4-growth.min.css";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html body {
  height: 100%;
}

body {
  padding-top: 56px;
  font-family: 'Raleway', sans-serif;
}
