<form class="mb-3 mt-1">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" id="search" name="search" #search aria-label="Search">
    <!-- <div class="input-group-append">
      <button class="btn btn-primary" type="submit" style="display: none;" (click)='searchText(search.value)'><fa-icon [icon]="['fas', 'search']"></fa-icon>&nbsp;</button>
    </div> -->
  </div>
  <button class="btn btn-primary" type="submit" style="display: none;"><fa-icon [icon]="['fas', 'search']"></fa-icon>&nbsp;</button>

  <!-- <button id="button" type="submit" routerLink="['/search-page'/{{ search }}]" style="visibility: hidden;" (click)='searchText(search.value)'></button> -->
</form>
