<!-- Sidebar -->
<div class="bg-light border-right border-left" id="sidebar-wrapper">
	<div class="list-group list-group-flush" id="first-item">
		<a href="#" class="list-group-item list-group-item-action">Campaigns</a>
		<a href="#" class="list-group-item list-group-item-action">Donations</a>
		<a href="#" class="list-group-item list-group-item-action">Community</a>
		<a href="#" class="list-group-item list-group-item-action">Messages</a>
		<a href="#" class="list-group-item list-group-item-action">Reports</a>
	</div>
</div>
<!-- /#sidebar-wrapper -->