<div class="container">
	<div class="row my-4">
		<div class="col-md-8">
			<h3 class="mb-4">
				Start a fundraising campaign
			</h3>
			<div class="card">
				<div class="card-body">
					<form role="form" (submit)="onCreateCampaign()">
						<div class="form-group">
							<label for="inputTitle">Campaign name</label>
							<input type="name" [formControl]="name" class="form-control" id="inputTitle" required minlength="6">
						</div>

						<div class="form-group">
							<label for="inputTarget">Target (Rs.)</label>
							<input type="number" [formControl]="target" class="form-control" id="inputTarget" />
						</div>

						<div class="form-group">
							<label for="inputDescription">Description</label>
							<textarea [formControl]="description" class="form-control" id="inputDescription"></textarea>
						</div>
						<div class="form-group">
							<label for="inputCategory">Category</label>
							<select [formControl]="category" (ngModelChange)="onCategoryChange($event)"
								class="form-control" id="inputCategory">
								<option disabled="disabled" selected="selected">Choose a category</option>
								<option *ngFor="let category of categories" [ngValue]="category">
									{{ category | titlecase}}</option>
							</select>
						</div>

						<div class="form-group">
							<label for="inputDeadline">Deadline</label>
							<input [formControl]="deadline" type="date" class="form-control" id="inputDeadline" />
						</div>

						<button type="submit" class="btn btn-primary">Create Campaign</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<p>
						This is a nice description of the campaign creation process.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>