<div class="container">
	<div class="row my-4">
		<div class="col-md-8">
			<h3 class="mb-4">
				Start a fundraising campaign
			</h3>
			<div class="card">
				<div class="card-body">
					<form role="form">
						<div class="form-group">
							<label for="exampleInputEmail1">
								Email address
							</label>
							<input type="email" class="form-control" id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">
								Password
							</label>
							<input type="password" class="form-control" id="exampleInputPassword1" />
						</div>
						<div class="form-group">

							<label for="exampleInputFile">
								File input
							</label>
							<input type="file" class="form-control-file" id="exampleInputFile" />
							<p class="help-block">
								Example block-level help text here.
							</p>
						</div>
						<div class="checkbox">

							<label>
								<input type="checkbox" /> Check me out
							</label>
						</div>
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien
						sapien.
						Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed
						vestibulum
						velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut
						cursus.
						<em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus
							nunc
							consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec
						bibendum nec,
						posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla
							euismod
							ultrices massa, et feugiat ipsum consequat eu.</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>