<div class="container">
	<div class="row my-4">
		<div class="col-md-8">
			<h3 class="mb-4">
				Start a fundraising campaign
			</h3>
			<div class="card">
				<div class="card-body">
					<form role="form" (submit)="onCreateCampaign()" [formGroup]="campaignForm">
						<div class="form-group">
							<label for="inputTitle">Campaign name</label>
							<!-- <input type="name" [formControl]="name" class="form-control" id="inputTitle"> -->
							<input type="name" formControlName="name" class="form-control" id="inputTitle">
							<div class="invalid-feedback">
								<div>Campaign name is required</div>
							</div>
						</div>

						<div class="form-group">
							<label for="inputTarget">Target (Rs.)</label>
							<input type="number" formControlName="target" class="form-control" id="inputTarget" />
							<div class="invalid-feedback">
								<div>Target is required</div>
							</div>
						</div>

						<div class="form-group">
							<label for="inputDescription">Description</label>
							<textarea formControlName="description" class="form-control" id="inputDescription"></textarea>
							<div class="invalid-feedback">
								<div>A campaign description is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="inputCategory">Category</label>
							<select formControlName="category" (ngModelChange)="onCategoryChange($event)"
								class="form-control" id="inputCategory">
								<option disabled="disabled" selected="selected">Choose a category</option>
								<option *ngFor="let category of categories" [ngValue]="category">
									{{ category | titlecase}}</option>
							</select>
						</div>

						<div class="form-group">
							<label for="inputDeadline">Deadline</label>
							<input formControlName="deadline" type="date" class="form-control" id="inputDeadline" />
						</div>

						<button type="submit" class="btn btn-primary">Create Campaign</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<p>
						This is a nice description of the campaign creation process.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>