<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="mb-4"> Activate your account </h3>
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-lg my-2 mr-2" (click)="activateAccount()">
                        <span>Activate account</span>
                    </button>
                    <br />
                    <div *ngIf="user.active == true"
                        class="alert alert-success">
                        <div>Your account has been successfully activated! Thank you for registering at Athwela.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>