<div class="jumbotron jumbotron-fullheight bg-growth bg-dark text-white mb-0 radius-0 shadow-lg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mb-5">
                <h4 class="display-1 text-light display-fix">Help those in need.</h4>
                <span class="lead">Fundraising for the people and causes you care about.</span>

                <div class="mt-4">
                    <span class="lead">
                        Your account has been successfully activated! Thank you for registering at Athwela.
                        <a href="http://localhost:4200/"></a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>