<footer class="py-4 bg-light">
    <div class="container">
        <div class="m-0">
            <div class="row">
                <div class="col-md-3 text-center mb-4">
                    <img alt="Athwela Logo" src="../../../assets/artwork/logo.png" class="rounded" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <ul>
                                <li class="list-item">
                                    Start a Campaign
                                </li>
                                <li class="list-item">
                                    Recent Campaigns
                                </li>
                                <li class="list-item">
                                    All Campaigns
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul>
                                <li class="list-item">
                                    How it works?
                                </li>
                                <li class="list-item">
                                    Community
                                </li>
                                <li class="list-item">
                                    People
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul>
                                <li class="list-item">
                                    About
                                </li>
                                <li class="list-item">
                                    Contact us
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="m-0 mt-2 text-center text-white">Copyright &copy; Athwela 2019</p>
</footer>