<footer class="py-5 bg-dark">
	<div class="container">
		<div class="m-0 text-white">
			<div class="row">
				<div class="col-md-3 text-center mb-4">
					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg"
						class="rounded" />
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4">
							<ul>
								<li class="list-item">
									Lorem ipsum
								</li>
								<li class="list-item">
									Consectetur
								</li>
								<li class="list-item">
									Integer molestie
								</li>

							</ul>
						</div>
						<div class="col-md-4">
							<ul>

								<li class="list-item">
									Faucibus porta
								</li>
								<li class="list-item">
									Aenean sit
								</li>
								<li class="list-item">
									Eget porttitor
								</li>

								<li class="list-item">
									Faucibus porta
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul>
								<li class="list-item">
									Lorem ipsum
								</li>
								<li class="list-item">
									Consectetur
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="m-0 mb-2 text-center text-white">Copyright &copy; Your Website 2019</p>
	<!-- /.container -->
</footer>