<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (submit)="onLoginSubmit()">
                
                <div class="form-group">
                    <label >Username</label>
                    <input type="text" class="form-control" [(ngModel)]="username"  name="username"  aria-describedby="usernameHelp" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" [(ngModel)]="password" name="password"  placeholder="Password">
                  </div>


                
                 
                 <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
