.text-small {
  font-size: 0.875rem;
}
.heading-2 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
}
.mb,
.mb10,
.mb16 {
  margin-bottom: 1rem !important;
}
.story-content {
  padding-left: 3rem;
  padding-right: 0;
}
.site-menu-wrap .heading-4 {
  margin: 0 0 1rem 0;
}
.site-menu-wrap {
  padding-left: 5rem;
}
.heading-4 {
  font-size: 0.875rem;
}
.heading-4 {
  font-size: 0.8125rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1rem;
}
