.text-small {

    font-size: .875rem;
}
.progress-bar-behind {
    background-color: #f3f8f7;
    width: 100%;
}
.progress-bar {
    border-radius: 6.25rem;
    height: .25rem;
}
.progress-bar-fill {
    background-color: #00b964;
}
//checkthis
.hide-for-medium {
    display: none!important;
}
 .card-img-top{
     height: 15rem;
 }