<!-- Page Content -->
<div class="container">

	<!-- Heading Row -->
	<div class="row align-items-center my-5">
		<div class="col-lg-5">
			<img class="img-fluid rounded mb-4 mb-lg-0" src="https://farm4.staticflickr.com/3399/3628961842_e9e9651ed8.jpg" alt="">
		</div>
		<!-- /.col-lg-8 -->
		<div class="col-lg-7">
			<h1 class="font-weight-light">Fundraising for the people and causes you care about</h1>
			<p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it
				makes a great use of the standard Bootstrap core components. Feel free to use this template for any
				project you want!</p>
				<a class="btn btn-primary mr-3" href="#">Get Started!</a>
				<a class="btn" href="#">How it works?</a>
			</div>
		<!-- /.col-md-4 -->
	</div>
	<!-- /.row -->

	<!-- Call to Action Well -->
	<div class="card text-white bg-primary mt-5 py-4 text-center">
		<div class="card-body">
			<p class="text-white m-0">This call to action card is a great place to showcase some important information
				or display a clever tagline!</p>
		</div>
	</div>

	<!-- Content Row -->
	<h1 class="font-weight-light mt-5 mb-4">Top Fundaisers</h1>

	<div class="row">
		<div class="col-md-4 mb-4">
			<app-campaign></app-campaign>
		</div>
		<div class="col-md-4 mb-4">
			<app-campaign></app-campaign>
		</div>
		<div class="col-md-4 mb-4">
			<app-campaign></app-campaign>
		</div>
		<div class="col-md-4 mb-4">
			<app-campaign></app-campaign>
		</div>
		<div class="col-md-4 mb-4">
			<app-campaign></app-campaign>
		</div>


	</div>
	<!-- /.row -->

</div>
<!-- /.container -->

<app-home-footer></app-home-footer>