<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form (submit)="onLoginSubmit()">
    <div class="modal-body">
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': usernameInvalid }" [(ngModel)]="username"
                name="username" id="inputUsername" maxlength="32" required aria-describedby="usernameHelp"
                placeholder="Enter your username">
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" [ngClass]="{ 'is-invalid': passwordInvalid }"
                [(ngModel)]="password" name="password" id="inputPassword" placeholder="Enter your password">
        </div>

        <div *ngFor="let alert of alerts">
            <alert [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{ closeBtnName }}</button>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>