<div class="container">
    <div class="row align-items-center my-5">
        <div class="col-lg-8">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/900x400.png" alt="">
        </div>

        <div class="col-lg-4">
            <h1 class="">Fundraising for the people and causes you care about.</h1>
            <p>This is a small description about the website and what you can do with it.</p>
            <a class="btn btn-primary mr-3" (click)="openRegisterModal()" href="#">Get Started!</a>
            <a class="btn" [routerLink]="['/how-it-works']">How it works?</a>
        </div>

    </div>

    <!-- Call to Action -->
    <!--    <div class="card text-white bg-primary mt-5 py-3 text-center">
        <div class="card-body">
            <h3 class="text-white m-0">It's your chance to make a difference today!</h3>
        </div>
    </div> -->

    <h2 class="mt-4 mb-3">Recent Campaigns</h2>

    <div class="row mb-4">
        <div *ngFor="let cmp of campaignService.campaigns" class="col-lg-4 col-md-6 col-sm-12 my-2 mb-4">
            <app-campaign-card id={{cmp._id}} name={{cmp.name}} description={{cmp.description}} raised={{cmp.raised}}
                target={{cmp.target}} [hideDonate]="false">
            </app-campaign-card>
        </div>

        <div class="col-md-12">
            <div class="card" style="width: 100%;" *ngIf="noCampaigns">
                <div class="card-body text-center">
                    <p class="card-text my-4">
                        Nothing here yet..
                    </p>
                    <a href="#" class="btn btn-primary mb-4" *ngIf=[!visitor]>Start a fundraising campaign</a>
                </div>
            </div>
        </div>
    </div>

</div>

<app-home-footer></app-home-footer>