<div class="jumbotron jumbotron-fullheight bg-growth bg-dark text-white mb-0 radius-0 shadow-lg">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 mb-5">
                <h4 class="display-1 text-light display-fix">Help those in need.</h4>
                <span class="lead">Fundraising for the people and causes you care about.</span>

                <div class="mt-4">
                    <button class="btn btn-light btn-lg my-2 mr-2" (click)="onGetStarted()">
                        <span>Get Started</span>
                    </button>

                    <a [routerLink]="['/how-it-works']" class="btn btn-outline-light btn-hover-text-dark btn-lg my-2">
                        <span>How It Works</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-group mt-n5 mb-5">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-4 font-weight-normal">Donate Funds</h4>
                <p class="card-text mb-3">Help someone achieve their goal.</p>
                <a [routerLink]="['/campaigns']" class="card-link btn btn-primary">Browse Campaigns</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="mb-4 font-weight-normal">Start a Fundraising Campaign</h4>
                <p class="card-text mb-3">Raise money for a cause.</p>
                <button (click)="openRegisterModal()" class="card-link btn btn-primary">Start a Campaign</button>
            </div>
        </div>
    </div>

    <h2 class="mt-5 mb-4 pt-4">Recent Campaigns</h2>
    <div id="spinner-container" style="position: relative;">
        <ngx-spinner [fullScreen]="false" bdColor="rgba(255,255,255)" color="darkblue" type="ball-elastic-dots"
            size="large"></ngx-spinner>
        <div class="row mb-4">
            <div *ngFor="let cmp of campaignService.campaigns" class="col-md-4 col-sm-12 my-2 mb-4">
                <app-campaign-card [id]="cmp._id" [name]="cmp.name" [description]="cmp.description"
                    [raised]="cmp.raised" [target]="cmp.target" [hideDonate]="false">
                </app-campaign-card>
            </div>

            <div class="col-md-12">
                <div class="card" style="width: 100%;" *ngIf="noCampaigns">
                    <div class="card-body text-center">
                        <p class="card-text my-4">
                            Nothing here, yet.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center" *ngIf="!noCampaigns">
                <a [routerLink]="['/campaigns']" class="btn btn-primary my-3">
                    <span>See more</span>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>