<div class="card h-100">
  <div class="card-body">
    <h4 class="card-title font-weight-light">
      <span *ngIf="isLinked; else elseBlock">
        <a [routerLink]="['./campaign', id]">{{name}}</a>
      </span>
      <ng-template #elseBlock>{{name}}</ng-template>

    </h4>
    <p class="card-text" [innerHTML]="description | trunctuatetext:150"></p>
  </div>
  <div class="card-footer">
    <progressbar [value]="55" *ngIf="!hideDonate"></progressbar>
    <div class="row">
      <div class="col-8 col-sm-10 my-auto">
          <small *ngIf="!hideDonate">
              Rs.{{raised}} raised of Rs.{{target}}
            </small>
            <small *ngIf="hideDonate">
                Rs.{{target}}
              </small>
      </div>
      <div class="col-4 col-sm-2 mt-2">
          <a href="#" *ngIf="!hideDonate" class="btn btn-primary btn-sm donate-button-margin float-right text-sm-center">Donate</a>
          <a [routerLink]="['./campaign', id]" href="#" *ngIf="hideDonate" class="btn btn-warning btn-sm donate-button-margin float-right text-sm-center">Verify</a>
          <!-- <a *ngIf=" !published" [routerLink]="['./campaign', id]" href="#" class="btn btn-warning btn-sm donate-button-margin float-right text-sm-center">Publish</a> -->
          
          
        </div>
    </div>
  </div>
</div>
