<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Athwela</a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">

                <!-- General -->
                <li *ngIf="!(authService.isAdmin() || authService.isMod())" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/campaigns']">Donate</a>
                </li>
                <li *ngIf="!(authService.isAdmin() || authService.isMod())" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/campaign/new']">Start a campaign</a>
                </li>
                <li *ngIf="!(authService.isAdmin() || authService.isMod())" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/how']">How it works</a>
                </li>

                <!-- Administrator -->
                <li *ngIf="authService.isAdmin()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/admin/campaigns']">Campaigns</a>
                </li>
                <li *ngIf="authService.isAdmin()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/admin/donations']">Donations</a>
                </li>
                <li *ngIf="authService.isAdmin()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/admin/users']">Users</a>
                </li>
                <li *ngIf="authService.isAdmin()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/admin/moderators']">Moderators</a>
                </li>

                <!-- Moderator -->
                <li *ngIf="authService.isMod()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/mod/campaigns']">Campaigns</a>
                </li>
                <li *ngIf="authService.isMod()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/mod/users']">Users</a>
                </li>

            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" alt="search" href="#" [routerLink]="['/']">
                        <fa-icon [icon]="['fas', 'search']"></fa-icon>
                    </a>
                </li>

                <!-- Administrator -->
                <li *ngIf="authService.isAdmin()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/admin']">Dashboard</a>
                </li>

                <!-- Moderator -->
                <li *ngIf="authService.isMod()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/mod']">Dashboard</a>
                </li>

                <!-- User -->
                <li *ngIf="authService.isUser()"
                    [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/profile']">Profile</a>
                </li>

                <!-- 
                <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/community']">Community</a>
                </li>

                <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"
                    [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/messages']">Messages</a>
                </li> 
                -->

                <!-- General -->
                <li *ngIf="authService.loggedIn()" class="nav-item">
                    <a class="nav-link" href="#" (click)="onLogoutClick()">Sign out</a>
                </li>

                <li *ngIf="!authService.loggedIn()" class="nav-item">
                    <a class="nav-link" href="#" (click)="openLoginModal()">Sign in</a>
                </li>

                <li *ngIf="!authService.loggedIn()" class="nav-item">
                    <a class="nav-link" href="#" (click)="openRegisterModal()">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>