<script src="node_modules/chart.js/src/chart.js"></script>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">DONATIONS</div>
            <div class="card-body">
                <button type="button" class="btn btn-dark btn-lg btn-block">1000</button>

            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">REQUESTS</div>
            <div class="card-body">
                <button type="button" class="btn btn-dark btn-lg btn-block">300</button>

            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">PENDING REQUESTS </div>
            <div class="card-body">
                <button type="button" class="btn btn-dark btn-lg btn-block">150</button>

            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">USERS</div>
            <div class="card-body">
                <button type="button" class="btn btn-dark btn-lg btn-block">2000</button>

            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>
</div>
<div class="row"></div>
