<script src="node_modules/chart.js/src/chart.js"></script>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card text-white bg-secondary mb-2" style="max-width: 18rem;">
                <div class="card-header">Campaigns</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">300</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-secondary mb-2" style="max-width: 18rem;">
                <div class="card-header">Donations</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">150</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-secondary mb-2" style="max-width: 18rem;">
                <div class="card-header">Users</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">10000</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-secondary mb-2" style="max-width: 18rem;">
                <div class="card-header">Moderators</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">2000</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div style="display: block;">
                        <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
                            [legend]="polarAreaLegend" [chartType]="polarAreaChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-4 mb-2 col-md-12">
            <h2>Top Campaigns</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>