<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<table class="table table-hover modal-body">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Payee</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let w of withdrawals; let collapsed=true;">
            <td>
                <div *ngFor="let d of w.donations" [collapse]="!collapsed">
                    {{ d.amount | currency:'Rs. ' }} to
                    <a target="_blank" [routerLink]="['/campaign/', d.campaign._id]">
                        {{ d.campaign.name }}</a>
                </div>
                <br />
                <span class="mb-1">{{ w.amount | currency:'Rs. '}}</span>
                <button class="btn btn-sm btn-outline-info ml-2" (click)="collapsed = !collapsed">
                    {{ !collapsed ? 'Show' : 'Hide' }} donations
                </button>
                <div>
                </div>
            </td>
            <td>
                {{ w.payee_name }}<br />
                {{ w.bank_account }}<br />
                {{ w.bank_name }}<br />
            </td>
            <td>{{ w.created_at | date }}</td>
            <td>{{ w.status_message | titlecase }}</td>
        </tr>

    </tbody>
</table>

<div class="modal-body">
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{ closeBtnName }}</button>
</div>