<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form ngNoForm method="post" action="https://sandbox.payhere.lk/pay/checkout">
    <div class="modal-body">
        <div class="form-group">
            <label for="form-control-amount">Amount</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">LKR</div>
                </div>
                <input type="number" min="500" step="500" max="25000" class="form-control" id="form-control-amount"
                    aria-describedby="amountHelp" name="amount">
            </div>
            <small id="amountHelp" class="form-text text-muted">
                How much you want to donate?
            </small>
        </div>

        <div class="form-group">
            <input type="hidden" name="merchant_id" [value]="merchantId">
            <input type="hidden" name="return_url" [value]="returnUrl">
            <input type="hidden" name="cancel_url" [value]="cancelUrl">
            <input type="hidden" name="notify_url" [value]="notifyUrl">

            <input type="hidden" name="order_id" [value]="donationId">
            <input type="hidden" name="items" [value]="campaign.name"><br>
            <input type="hidden" name="currency" value="LKR">

            <input type="text" name="first_name" [value]="user.firstName">
            <input type="text" name="last_name" [value]="user.lastName"><br>
            <input type="text" name="email" [value]="user.email">
            <input type="text" name="phone" value="0771234567"><br>
            <input type="text" name="address" [value]="user.address">
            <input type="text" name="city" [value]="user.city">

            <input type="hidden" name="country" value="Sri Lanka"><br><br>
        </div>

        <a href="https://www.payhere.lk" target="_blank"><img
                src="https://www.payhere.lk/downloads/images/payhere_long_banner.png" alt="PayHere" width="100%" /></a>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{ closeBtnName }}</button>
        <button type="submit" class="ml-2 btn btn-primary">Donate Now</button>
    </div>
</form>