<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-group">
            <label for="form-control-amount">Amount</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Rs.</div>
                </div>
                <input type="number" min="500" step="500" max="25000" class="form-control" id="form-control-amount"
                    aria-describedby="amountHelp">
            </div>
            <small id="amountHelp" class="form-text text-muted">
                How much you want to donate?
            </small>
        </div>
        <div class="form-group">
            <label for="form-control-textarea">Comments</label>
            <textarea class="form-control" id="form-control-textarea" rows="2" aria-describedby="help"></textarea>
            <small id="help" class="form-text text-muted">
                Add a comment for your donation.
            </small>
        </div>
        <a href="https://www.payhere.lk" target="_blank"><img
                src="https://www.payhere.lk/downloads/images/payhere_long_banner.png" alt="PayHere" width="100%" /></a>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
        <button type="button" class="ml-2 btn btn-primary" (click)="onDonateClick()">Donate</button>
    </div>
</form>