<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 mt-2 mt-md-0">
            <h1 class="mb-5">
                {{ user?.firstName }} {{ user?.lastName }}
            </h1>
        </div>
        <div class="col-md-3 mt-2 mt-md-0">
            <div class="card text-center">
                <div class="card-body">
                    <img *ngIf="user" class="image-cover" [src]="user?.avatar" data-holder-rendered="true">
                    <img *ngIf="!user" class="image-cover" src="assets/user.png" data-holder-rendered="true">
                    <h5 class="card-title mt-4">{{ user?.username }}</h5>
                    <p class="card-text">{{ user?.email }}</p>
                    <button (click)="openModal(settings)" class="btn btn-primary btn-sm"
                        *ngIf="!visitor">Update</button>
                </div>
            </div>
        </div>
        <div class="col-md-9 mt-2 mt-md-0">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="mb-3 mt-4 mt-md-0">Campaigns</h3>
                    <h6 class="mb-3 mt-2 mt-md-0">{{ receivedDonationsSum | currency:'Rs. ' }}</h6>
                </div>
                <div class="col-md-6 text-right" *ngIf="!visitor">
                    Remaining {{ notWithdrawenDonationsSum | currency:'Rs. ' }}
                    <div class="btn-group btn-group-sm ml-2" role="group" aria-label="Basic example">
                        <button class="btn btn-primary" (click)="openModal(withdraw)">Withdraw
                        </button>
                        <button class="btn btn-primary" (click)="openPreviousWithdrawalsModal()">
                            Log
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div *ngFor="let cmp of campaigns" class="col-lg-6 col-sm-12 my-2">
                    <app-campaign-card [id]="cmp._id" [name]="cmp.name" [description]="cmp.description"
                        [raised]="cmp.raised" [target]="cmp.target" [data]="cmp">
                    </app-campaign-card>
                </div>

                <div class="col-md-12">
                    <div class="card shadow-sm" style="width: 100%;" *ngIf="!campaigns?.length">
                        <div class="card-body text-center">
                            <p class="card-text my-4">
                                Nothing here, yet.
                            </p>
                            <a [routerLink]="['/campaign', 'new']" class="btn btn-primary mb-4" *ngIf=[!visitor]>
                                Start a fundraising campaign</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-12 justify-content-center text-center row mt-3" *ngIf="campaigns?.length">
                        <div>
                            <pagination [totalItems]="totalItems" [itemsPerPage]="4" [(ngModel)]="currentPage"
                                (pageChanged)="pageChanged($event)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="mb-3 mt-4">Donations</h3>
            <h6 class="mb-3 mt-2">{{ donationsSum | currency:'Rs. ' }}</h6>
            <div class="row mb-2 mt-4">
                <div class="col-md-12" *ngIf="donations?.length">
                    <div class="card shadow-sm">
                        <table class="card-table table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Campaign</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col" *ngIf="!visitor">Method</th>
                                    <th scope="col" *ngIf="!visitor">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let don of donations; let i = index">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>
                                        <a [routerLink]="['/campaign', don.campaign._id]">{{ don.campaign.name }}</a>
                                    </td>
                                    <td>{{ don.created_at | date:short }}</td>
                                    <td>{{ don.amount | currency:'Rs. ' }}</td>
                                    <td *ngIf="!visitor">{{ don.method }}</td>
                                    <td *ngIf="!visitor">{{ don.status_message }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12" *ngIf="!donations?.length">
                    <div class="card shadow-sm" style="width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text my-4">
                                Nothing here, yet.
                            </p>
                            <a [routerLink]="['/campaigns']" class="btn btn-primary mb-4" *ngIf=[!visitor]>
                                Make a donation</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-12 justify-content-center text-center row mt-4" *ngIf="donations?.length">
                    <div>
                        <pagination [totalItems]="donationsTotalItems" [itemsPerPage]="4"
                            [(ngModel)]="donationsCurrentPage" (pageChanged)="donationsPageChanged($event)">
                        </pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>

<ng-template #settings>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Settings</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form (submit)="onUpdate()" [formGroup]="updateForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="inputAvatar">Avatar</label><br />
                <input type="file" ng2FileSelect [uploader]="uploader" class="my-2" id="inputAvatar" />
                <button type="button" class="btn btn-outline-primary btn-sm my-2" (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
                <small class="form-text text-muted">
                    Select a photo and upload it to add or change your avatar.
                </small>
            </div>

            <div class="form-group">
                <label for="inputEmail">E-mail address</label>
                <input formControlName="email" type="email" class="form-control" id="inputEmail"
                    [ngClass]="{'is-invalid': (email.touched || email.dirty) && email.invalid }">
                <div class="invalid-feedback" *ngIf="(email.touched || email.dirty) && email.invalid">
                    Enter a valid e-mail address.
                </div>
                <small id="emailHelp" class="form-text text-muted" *ngIf="!(email.touched || email.dirty)">
                    We'll never share your email with anyone else.
                </small>
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input formControlName="password" type="password" class="form-control" id="inputPassword"
                    aria-describedby="passwordHelp"
                    [ngClass]="{'is-invalid': (password.touched || password.dirty) && password.invalid }">
                <div class="invalid-feedback" *ngIf="(password.touched || password.dirty) && password.invalid">
                    Enter a password for your account.
                </div>
                <password-strength-meter id="passwordHelp" [enableFeedback]="true" [password]="password.value"
                    *ngIf="(password.touched || password.dirty)">
                </password-strength-meter>
            </div>

            <div class="form-group">
                <input formControlName="confirmPassword" type="password" class="form-control" id="inputConfirmPassword"
                    aria-describedby="confirmPasswordHelp"
                    [ngClass]="{'is-invalid': (confirmPassword.touched || confirmPassword.dirty) && (confirmPassword.invalid || confirmPassword.errors?.doesNotMatch) }">
                <div class="invalid-feedback"
                    *ngIf="(confirmPassword.touched || confirmPassword.dirty) && (confirmPassword.invalid || confirmPassword.errors?.doesNotMatch)">
                    Your passwords don't match. Please try again.
                </div>
                <small id="confirmPasswordHelp" class="form-text text-muted"
                    *ngIf="!(confirmPassword.touched || confirmPassword.dirty)">
                    Type in your password again for confirmation.
                </small>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First name</label>
                    <input formControlName="firstName" type="text" class="form-control" id="inputFirstName"
                        [ngClass]="{'is-invalid': (firstName.touched || firstName.dirty) && firstName.invalid }">
                    <div class="invalid-feedback" *ngIf="(firstName.touched || firstName.dirty) && firstName.invalid">
                        Enter your first name.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last name</label>
                    <input formControlName="lastName" type="text" class="form-control" id="inputLastName"
                        [ngClass]="{'is-invalid': (lastName.touched || lastName.dirty) && lastName.invalid }">
                    <div class="invalid-feedback" *ngIf="(lastName.touched || lastName.dirty) && lastName.invalid">
                        Enter your last name.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input formControlName="address" type="text" class="form-control" id="inputAddress"
                    [ngClass]="{'is-invalid': (address.touched || address.dirty) && address.invalid }">
                <div class="invalid-feedback" *ngIf="(address.touched || address.dirty) && address.invalid">
                    Enter your permanent address.
                </div>
            </div>

            <div class="form-group">
                <label for="inputCity">City</label>
                <input formControlName="city" type="text" class="form-control" id="inputCity"
                    [ngClass]="{'is-invalid': (city.touched || city.dirty) && city.invalid }">
                <div class="invalid-feedback" *ngIf="(city.touched || city.dirty) && city.invalid">
                    Enter your city.
                </div>
            </div>

            <div class="form-group">
                <label for="inputPhone">Phone number</label>
                <input formControlName="phone" type="number" class="form-control" id="inputPhone"
                    [ngClass]="{'is-invalid': (phone.touched || phone.dirty) && phone.invalid }">
                <div class="invalid-feedback" *ngIf="(phone.touched || phone.dirty) && phone.invalid">
                    Enter your phone number.
                </div>
            </div>

            <div *ngIf="alert">
                <alert [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="onClose()">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

</ng-template>

<ng-template #withdraw>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Request Withdrawal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="onWithdrawClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form (submit)="onWithdraw()" [formGroup]="withdrawForm">
            <div class="form-group">
                <label for="inputPayee">Payee</label>
                <input formControlName="payee" type="text" class="form-control" id="inputPayee"
                    [ngClass]="{'is-invalid': (payee.touched || payee.dirty) && payee.invalid }">
                <div class="invalid-feedback" *ngIf="(payee.touched || payee.dirty) && payee.invalid ">
                    Payee name should be longer than 10 characters.
                </div>
                <small id="emailHelp" class="form-text text-muted" *ngIf="!(email.touched || email.dirty)">
                    Enter full name of the payee.
                </small>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputBankName">Bank</label>
                    <input formControlName="bankName" type="text" class="form-control" id="inputBankName"
                        [ngClass]="{'is-invalid': (bankName.touched || bankName.dirty) && bankName.invalid }">
                    <div class="invalid-feedback" *ngIf="(bankName.touched || bankName.dirty) && bankName.invalid">
                        Enter your bank name.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputBankAccountNumber">Account number</label>
                    <input formControlName="bankAccount" type="text" class="form-control" id="inputBankAccountNumber"
                        [ngClass]="{'is-invalid': (bankAccount.touched || bankAccount.dirty) && bankAccount.invalid }">
                    <div class="invalid-feedback"
                        *ngIf="(bankAccount.touched || bankAccount.dirty) && bankAccount.invalid">
                        Enter your bank account number.
                    </div>
                </div>
            </div>


            <div class="card card-outline-dark text-dark shadow-sm mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ notWithdrawenDonationsSum | currency:'Rs. ' }}</h5>
                    Withdrawable Amount
                </div>
            </div>

            <div *ngIf="withdrawAlert">
                <alert [type]="withdrawAlert.type"><span [innerHtml]="withdrawAlert.msg"></span></alert>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onWithdrawClose()">Close</button>
        <button type="submit" class="btn btn-secondary" (click)="onWithdraw()"
            [disabled]="withdrawForm.disabled || withdrawForm.invalid">Request</button>
    </div>

</ng-template>