<div class="container mt-5">
    <div class="page-header mb-5" *ngIf="campaign">
        <h1 class="mb-2">
            {{ campaign?.name }}
        </h1>
        <h6>
            Created by &nbsp;
            <a [routerLink]="['/profile', campaign.owner._id]">
                <fa-icon [icon]="['fas', 'user']"></fa-icon>&nbsp;
                {{ campaign?.owner.name }}
            </a>
        </h6>
    </div>

    <div class="row mt-3">
        <div class="col-md-8">
            <div *ngFor="let alert of alerts" class="mb-2 mb-lg-0">
                <alert [type]="alert.type" [dismissible]="true">{{ alert.msg }}</alert>
            </div>
            <!-- <img src="assets/720x320.png" class="img-fluid rounded mb-2 mb-lg-0"> -->
            <carousel>
                <slide *ngFor="let image of campaign?.images">
                    <div class="card">
                        <img class="card-img" alt="image" [src]="AppConfig_BASE_URL + image">
                    </div>
                </slide>
            </carousel>
            <p [ngClass]="{ 'my-4': campaign?.images.length }" style="white-space: pre-wrap">{{ campaign?.description }}
            </p>

            <div class="my-4">
                <div class="card-columns">
                    <div class="card" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-4 align-self-center text-center">
                                <img src="assets/document.svg">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <div class="card-text">Medical document.pdf
                                        <br />
                                        <small class="text-muted">156KB</small>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-sm stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- On small screens donations section should be shown here -->

            <!-- Comments -->
            <app-campaign-comments *ngIf="campaign?.published" [comments]="campaign?.comments"
                (comment)="onCommentSubmit($event)" [loggedIn]="loggedIn" [user]="user" (delete)="onDelete($event)">
            </app-campaign-comments>
        </div>

        <div class="col-md-4">
            <!-- Standard User -->
            <div class="card shadow" *ngIf="isUser"
                [ngClass]="{'border-primary bg-primary text-white': campaign?.complete}">
                <div *ngIf="!campaign?.complete; else complete">
                    <div class="card-body">
                        <progressbar [value]="percentage" *ngIf="campaign?.verified || campaign?.published">
                        </progressbar>
                        <div class="mt-2 mb-4 text-muted"
                            *ngIf="campaign?.verified || campaign?.published; else not_verified">
                            {{ campaign?.raised | currency:'Rs. ' }} raised of {{ campaign?.target | currency:'Rs. ' }}
                        </div>
                        <ng-template #not_verified>
                            <div *ngIf="!campaign?.rejected; else rejected">
                                <h5>Pending</h5>
                                <div class="mt-2 mb-1 text-muted">
                                    This campaign is pending verification from a moderator.
                                </div>
                            </div>
                            <ng-template #rejected>
                                <h5>Rejected</h5>
                                <div class="mt-2 mb-1 text-muted">
                                    This campaign was rejected.
                                    <p><i>{{ campaign?.reject_message }}</i></p>
                                </div>
                            </ng-template>
                        </ng-template>

                        <div *ngIf="campaign?.verified || campaign?.published">
                            <button class="btn btn-primary card-link" *ngIf="!hideDonate"
                                [disabled]="!campaign?.published" (click)="onDonateClick()">Donate</button>
                            <button class="btn btn-outline-dark ml-4 card-link"
                                [disabled]="!campaign?.published">Share</button>
                        </div>
                    </div>
                    <div class="card-footer" *ngIf="campaign?.verified">
                        Verified by &nbsp;
                        <button class="btn btn-link" (click)="onVerifierClick(campaign.verified_by._id)">
                            <fa-icon [icon]="['fas', 'user']"></fa-icon>&nbsp;
                            {{ campaign?.verified_by.firstName }} {{ campaign?.verified_by.lastName }}
                        </button>
                    </div>
                </div>
                <ng-template #complete>
                    <div class="card-body">
                        <h3 class="mt-1 mb-2">
                            Success!
                        </h3>
                        <p>Raised {{ campaign?.raised | currency:'Rs. ' }}</p>
                    </div>
                </ng-template>
            </div>

            <!-- Anonymous User -->
            <div class="card shadow" *ngIf="!loggedIn"
                [ngClass]="{'border-primary bg-primary text-white': campaign?.complete}">
                <div *ngIf="!campaign?.complete; else complete">
                    <div class="card-body">
                        <progressbar [value]="percentage" *ngIf="campaign?.verified || campaign?.published">
                        </progressbar>
                        <div class="mt-2 mb-4 text-muted"
                            *ngIf="campaign?.verified || campaign?.published; else not_verified">
                            {{ campaign?.raised | currency:'Rs. ' }} raised of {{ campaign?.target | currency:'Rs. ' }}
                        </div>
                        <ng-template #not_verified>
                            <h5>Pending</h5>
                            <div class="mt-2 mb-1 text-muted">
                                This campaign is pending verification from a moderator.
                            </div>
                        </ng-template>
                        <div *ngIf="campaign?.verified || campaign?.published">
                            <button class="btn btn-primary card-link" *ngIf="!hideDonate"
                                [disabled]="!campaign?.published" (click)="onDonateClick()">
                                Donate
                            </button>
                            <button class="btn btn-outline-dark card-link" [disabled]="!campaign?.published">
                                Share
                            </button>
                        </div>
                    </div>
                    <div class="card-footer" *ngIf="campaign?.verified">
                        Verified by &nbsp;
                        <button class="btn btn-link" (click)="onVerifierClick(campaign.verified_by._id)">
                            <fa-icon [icon]="['fas', 'user']"></fa-icon>&nbsp;
                            {{ campaign?.verified_by.firstName }} {{ campaign?.verified_by.lastName }}
                        </button>
                    </div>
                </div>
                <ng-template #complete>
                    <div class="card-body">
                        <h3 class="mt-1 mb-2">
                            Success!
                        </h3>
                        <p>Raised {{ campaign?.raised | currency:'Rs. ' }}</p>

                    </div>
                </ng-template>
            </div>

            <!-- Moderator -->
            <div class="card shadow" *ngIf="isMod">
                <div class="card-body">
                    <h4 class="card-title">{{ campaign?.target | currency:'Rs. ' }}</h4>
                    <div *ngIf="campaign?.verified">
                        <div class="card-text text-muted">
                            This campaign was verified.
                        </div>
                    </div>
                    <div *ngIf="!campaign?.verified && !campaign?.rejected">
                        <div class="card-text my-2 text-muted">
                            This campaign is pending verification from a moderator.
                        </div>
                        <button class="btn btn-warning card-link" *ngIf="!campaign?.verified"
                            (click)="verifyCampaign()">Verify</button>
                        <button class="btn btn-danger card-link" *ngIf="!campaign?.rejected && !campaign?.verified"
                            (click)="rejectCampaign(reject)">Reject</button>
                    </div>
                    <div *ngIf="campaign?.rejected && !campaign?.verified">
                        <div class="card-text mt-2 text-muted">
                            This campaign was rejected.
                            <p><i>{{ campaign?.reject_message }}</i></p>
                        </div>
                        <button class="btn btn-warning card-link" *ngIf="!campaign?.verified"
                            (click)="verifyCampaign()">
                            Verify
                        </button>
                    </div>
                </div>
                <div class="card-footer" *ngIf="campaign?.verified || campaign?.published">
                    Verified by &nbsp;
                    <button class="btn btn-link" (click)="onVerifierClick(campaign.verified_by._id)">
                        <fa-icon [icon]="['fas', 'user']"></fa-icon>&nbsp;
                        {{ campaign?.verified_by.firstName }} {{ campaign?.verified_by.lastName }}
                    </button>
                </div>
            </div>

            <!--Admin-->
            <div class="card shadow" *ngIf="isAdmin">
                <div class="card-body">
                    <h4 class="card-title">{{ campaign?.target | currency:'Rs. ' }}</h4>
                    <div class="card-text my-2 text-muted">
                        <div *ngIf="!campaign?.verified && !campaign?.rejected">
                            This campaign is pending verification from a moderator.
                        </div>
                        <div *ngIf="campaign?.rejected && !campaign?.verified">
                            <div class="card-text mt-2 text-muted">
                                This campaign was rejected.
                                <p><i>{{ campaign?.reject_message }}</i></p>
                            </div>
                        </div>
                        <div *ngIf="campaign?.verified && !campaign?.published">
                            Publish the campaign to accept donations.
                        </div>
                        <div *ngIf="campaign?.verified && campaign?.published">
                            This campaign is published.
                        </div>
                    </div>
                    <button class="btn btn-warning card-link" *ngIf="!campaign?.verified"
                        (click)="verifyCampaign()">Verify</button>
                    <button class="btn btn-danger card-link" *ngIf="!campaign?.rejected && !campaign?.verified"
                        (click)="rejectCampaign(reject)">Reject</button>
                    <button class="btn btn-info card-link text-white" *ngIf="!campaign?.published"
                        (click)="publishCampaign()" [disabled]="!campaign?.verified">Publish</button>
                    <button class="btn btn-info card-link text-white" *ngIf="campaign?.published"
                        (click)="unpublishCampaign()">Unpublish</button>
                </div>
                <div class="card-footer" *ngIf="campaign?.verified || campaign?.published; else elseBlock">
                    Verified by &nbsp;
                    <button class="btn btn-link" (click)="onVerifierClick(campaign.verified_by._id)">
                        <fa-icon [icon]="['fas', 'user']"></fa-icon>&nbsp;
                        {{ campaign?.verified_by.firstName }} {{ campaign?.verified_by.lastName }}
                    </button>
                </div>
            </div>

            <div class="order-md-2 mb-4 mt-5" *ngIf="campaign?.verified && campaign?.published">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Donations</span>
                    <span class="badge badge-primary badge-pill">{{ campaign?.donations.length }}</span>
                </h4>
                <ul class="list-group mb-3" *ngIf="campaign?.donations.length; else noDonations">
                    <li class="list-group-item d-flex justify-content-between lh-condensed"
                        *ngFor="let donation of campaign?.donations">
                        <div>
                            <h6 class="my-0">{{ donation.donor.name }}</h6>
                            <small class="text-muted">
                                {{ donation.created_at | date:short }}
                            </small>
                        </div>
                        <span class="text-muted">{{ donation.amount | currency:'Rs. ' }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (LKR)</span>
                        <strong>{{ campaign?.raised | currency:'Rs. ' }}</strong>
                    </li>
                </ul>
                <ng-template #noDonations>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Nothing here, yet.</h6>
                                <small class="text-muted">Be the first to donate!</small>
                            </div>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>

<ng-template #reject>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Reject Campaign</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="exampleInputEmail1">Reason</label>
            <input type="text" class="form-control" [(ngModel)]="reason">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
        <button [disabled]="!reason" type="submit" class="btn btn-danger" (click)="onReject()">Reject</button>
    </div>
</ng-template>