<div class="modal-header">
    <h4 class="modal-titile pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form (submit)="onRegisterSubmit()">
    <div class="modal-body">
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" [(ngModel)]="username" name="username" class="form-control" id="exampleInputUsername"
                aria-describedby="usernameHelp" placeholder="Enter your username"
                [ngClass]="{'is-invalid': usernameInvalid}">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="inputPassword"
                placeholder="Enter your password" [ngClass]="{'is-invalid': passwordInvalid}"
                aria-describedby="passwordHelp">
            <password-strength-meter id="passwordHelp" [enableFeedback]="true" [password]="password">
            </password-strength-meter>
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="passwordConfirm" name="password-confirm" class="form-control"
                id="inputPasswordConfirm" placeholder="Enter your password again for confirmation"
                [ngClass]="{'is-invalid': passwordMismatch || passwordInvalid}" aria-describedby="passwordHelp">
        </div>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control" id="inputName"
                aria-describedby="nameHelp" placeholder="Enter your name" [ngClass]="{'is-invalid': nameInvalid}">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" id="inputEmail"
                placeholder="Enter your email address" [ngClass]="{'is-invalid': emailInvalid}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div *ngFor="let alert of alerts">
            <alert [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
        </div>

        // temporary
        <div class="form-group">
            <label for="inputRole">Role</label>
            <input type="text" [(ngModel)]="role" name="role" class="form-control" id="inputRole"
                placeholder="admin, mod, user" aria-describedby="roleHelp">
            <small id="roleHelp" class="form-text text-muted">This field is temporary until proper Moderator and
                Administrator registration is implemented.</small>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>