<h3 class="mt-2 mb-2">Comments</h3>

<div class="container">
    <div class="row">
        <div class="media comment-box comment-user" *ngFor="let comment of comments">
            <div class="media-left">
                <a [routerLink]="['/profile', comment.owner._id]">
                    <img class="img-responsive user-photo" src="{{ comment.owner.avatar }}">
                </a>
            </div>
            <div class="media-body shadow-sm">
                <h6 class="media-heading">{{ comment.owner.firstName }} {{ comment.owner.lastName }}</h6>
                <div class="content">
                    {{ comment.body }}
                    <br />
                    <form class="form-inline" *ngIf="comment.owner._id==user?._id">
                        <button (click)="onDelete(comment._id)"
                            class="btn btn-default btn-sm float-xs-right ml-auto">Delete</button>
                    </form>
                </div>

                <!-- Subcomments
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive user-photo"
                                    src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Jane Doe</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only five
                                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                                passages, and more recently with desktop publishing software like Aldus PageMaker including
                                versions of Lorem Ipsum.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="img-responsive user-photo"
                                    src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only five
                                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                                passages, and more recently with desktop publishing software like Aldus PageMaker including
                                versions of Lorem Ipsum.</p>
                        </div>
                    </div> 
                -->
            </div>
        </div>

        <div class="media comment-box comment-user" *ngIf="loggedIn; else noAccess">
            <div class="media-left">
                <a href="#">
                    <img class="img-responsive user-photo" src="{{ user.avatar }}">
                </a>
            </div>
            <div class="media-body">
                <h6 class="media-heading">{{ user.firstName }} {{ user.lastName }}</h6>
                <form class="form-inline" (ngSubmit)="onSubmit()">
                    <textarea placeholder="Write your comment here.." class="comment-textarea mxy-2 form-control"
                        [(ngModel)]="body" name="bodyModel" #bodyModel="ngModel"></textarea>
                    <div [hidden]="bodyModel.valid || bodyModel.pristine" class="alert alert-danger"></div>
                    <button class="btn btn-primary float-xs-right ml-auto my-2" type="submit"
                        [disabled]="!body">Post</button>
                </form>
            </div>
        </div>
        <ng-template #noAccess>
            <div class="mt-4">
                You have to be logged in to comment.
            </div>
        </ng-template>
    </div>
</div>