<script src="node_modules/chart.js/src/chart.js"></script>

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Campaigns</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">300</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Donations</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">150</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Users</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">10000</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Moderators</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">2000</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div style="display: block;">
                        <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
                            [legend]="polarAreaLegend" [chartType]="polarAreaChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>