<script src="node_modules/chart.js/src/chart.js"></script>

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Campaigns</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">{{campaignsCount}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Donations</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">150</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Users</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">{{userCount}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Moderators</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">{{moderatorCount}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
                <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
              </ul>
             
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div style="display: block;">
                        <canvas baseChart [data]="polarAreaChartData" [labels]="polarAreaChartLabels"
                            [legend]="polarAreaLegend" [chartType]="polarAreaChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table mdbTable>
                <caption>List of users</caption>
                <thead>
                  <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let el of elements">
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.first}}</td>
                    <td>{{el.last}}</td>
                    <td>{{el.handle}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6"> 
            <canvas baseChart
                  
                    [datasets]="labelMFL"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [chartType]="ChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                    </div>
        <div class="col-md-6">
            
        </div>
          
    </div>
</div>

<app-footer></app-footer>