<script src="node_modules/chart.js/src/chart.js"></script>

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Campaigns</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">{{campaignsCount}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Donations</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">150</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Users</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">{{userCount}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-primary">
                <div class="card-header">Moderators</div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-lg btn-block">{{moderatorCount}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card-column">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All Users</h5>
                        <div style="display: block;">
                            <canvas baseChart [data]="PieChartData"
                                [labels]="PieChartLabels" [chartType]="PieChartType"
                                [options]="PieChartOptions" [plugins]="PieChartPlugins"
                                [legend]="PieChartLegend" [colors]="pieChartColors">
                            </canvas>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" >
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Campaigns</h5>
    
                    <div class="chart-wrapper" *ngIf="lineChartLabels" style="height: 10rem">
                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                            [chartType]="lineChartType" [plugins]="lineChartPlugins">
                        </canvas>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
    <div class="col-md-8 ">
        <div class="card-column">
            <div class="card mt-3" >
                <div  class="card-body">
                    <h5 class="card-title">Donations</h5>
                    <div style="display: block;" *ngIf="monthlyDonations">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType" [colors]="barChartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    <div class="card-column">
        <div class="card mt-3">
            <div class="card-body ">
                <h5 class="card-title">Categories</h5>
                <div style="display: block;" *ngIf="categoryPieChartLabels">
                    <canvas baseChart [data]="categoryPieChartData" [labels]="categoryPieChartLabels"
                        [chartType]="categoryPieChartType" [options]="categoryPieChartOptions"
                        [plugins]="categoryPieChartPlugins" [legend]="categoryPieChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    
</div>
 
<app-footer></app-footer>