<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card border-left-success shadow h-100 py-2">

                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Donations
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5000</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-success shadow h-100 py-2">

                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">1000</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-success shadow h-100 py-2">

                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Pending requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">3400</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-left-success shadow h-100 py-2">

                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Users
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">2000</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>