<!-- Search form -->
<!-- <form class="form-inline activ-ceyan-4">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" id="search" name="search" #search aria-label="Search">
    <button type="submit" (click)='searchText(search.value)'><fa-icon [icon]="['fas', 'search']"></fa-icon>&nbsp;</button>
</form> -->

<form class="mb-3 mt-1">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search" id="search" name="search" #search aria-label="Search">
    <!-- <div class="input-group-append">
      <button class="btn btn-primary" type="submit" style="display: none;" (click)='searchText(search.value)'><fa-icon [icon]="['fas', 'search']"></fa-icon>&nbsp;</button>
    </div> -->
  </div>
  <button id="button" type="submit" style="visibility: hidden;" (click)='searchText(search.value)'></button>
</form>
