<div class="container mt-5">
    <div class="page-header mb-5">
        <h1 class="mb-2">
            Moderators
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of Users">
                        <th scope="row">1</th>
                        <td>{{user.name}} </td>
                        <td>{{user.email}} </td>
                        <td>{{user.username}}</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<app-footer></app-footer>