<div class="container">
  <div class="row">
    <h2>Ongoing Campaigns</h2>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/41/45/7f/41457f20b5d87d872d85324be54b73a0.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!--progressbar-->
          <div class="prog">
            <progressbar [value]="55"></progressbar>
          </div>
          <!--target-->
          <div class="fund-item truncate-single-line">
            <div class="show-for-medium">
              <strong>$300</strong> of $3400

            </div>
            <div class="hide-for-medium">
              $300 raised
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/41/45/7f/41457f20b5d87d872d85324be54b73a0.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!--progressbar-->
          <div class="prog">
            <progressbar [value]="55"></progressbar>
          </div>
          <!--target-->
          <div class="fund-item truncate-single-line">
            <div class="show-for-medium">
              <strong>$300</strong> of $3400

            </div>
            <div class="hide-for-medium">
              $300 raised
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/41/45/7f/41457f20b5d87d872d85324be54b73a0.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!--progressbar-->
          <div class="prog">
            <progressbar [value]="55"></progressbar>
          </div>
          <!--target-->
          <div class="fund-item truncate-single-line">
            <div class="show-for-medium">
              <strong>$300</strong> of $3400

            </div>
            <div class="hide-for-medium">
              $300 raised
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Finished Campaigns</h2>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/41/45/7f/41457f20b5d87d872d85324be54b73a0.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!--progressbar-->
          <div class="prog">
            <progressbar [value]="55"></progressbar>
          </div>
          <!--target-->
          <div class="fund-item truncate-single-line">
            <div class="show-for-medium">
              <strong>$300</strong> of $3400

            </div>
            <div class="hide-for-medium">
              $300 raised
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/41/45/7f/41457f20b5d87d872d85324be54b73a0.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!--progressbar-->
          <div class="prog">
            <progressbar [value]="55"></progressbar>
          </div>
          <!--target-->
          <div class="fund-item truncate-single-line">
            <div class="show-for-medium">
              <strong>$300</strong> of $3400

            </div>
            <div class="hide-for-medium">
              $300 raised
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/41/45/7f/41457f20b5d87d872d85324be54b73a0.jpg" class="card-img-top"
          alt="...">
        <div class="card-body">

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!--progressbar-->
          <div class="prog">
            <progressbar [value]="55"></progressbar>
          </div>
          <!--target-->
          <div class="fund-item truncate-single-line">
            <div class="show-for-medium">
              <strong>$300</strong> of $3400

            </div>
            <div class="hide-for-medium">
              $300 raised
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>