<div class="container mt-3">
    <div class="page-header" *ngIf="campaign">
        <h1>{{campaign?.name}}</h1>
        <h6>{{campaign?.owner.name}} is organizing this fundraiser</h6>
    </div>

    <div class="row mt-3">
        <div class="col-md-8">
            <div *ngFor="let alert of alerts" class="mb-2 mb-lg-0">
                <alert [type]="alert.type" [dismissible]="true">{{alert.msg}}</alert>
            </div>
            <img src="http://placehold.jp/720x320.png" class="img-fluid rounded mb-2 mb-lg-0">
            <p class="mt-2" style="white-space:pre-wrap;">{{campaign?.description}}</p>
        </div>

        <!-- Standard User -->
        <div class="col-md-4" *ngIf="authService.isUser()">
            <div class="card">
                <h5 class="card-header">Rs. {{campaign?.target}} target</h5>
                <div class="card-body">
                    <p class="card-text">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="mt-1">Rs. {{campaign?.raised}} out of Rs. {{campaign?.target}} raised</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" *ngIf="!hideDonate" href>Donate Now</button>
                    <button class="btn btn-info ml-2" href="#">Share</button>
                </div>
            </div>
        </div>

        <!-- Anonymous User -->
        <div class="col-md-4" *ngIf="!authService.loggedIn()">
            <div class="card">
                <h5 class="card-header">Rs. {{campaign?.target}} target </h5>
                <div class="card-body">
                    <p class="card-text">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <div class="mt-1">Rs. {{campaign?.raised}} out of Rs. {{campaign?.target}} raised</div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" *ngIf="!hideDonate" href>Donate Now</button>
                    <button class="btn btn-info ml-2">Share</button>
                </div>
            </div>
        </div>

        <!-- Moderator -->
        <div class="col-md-4" *ngIf="authService.isMod()">
            <div class="card">
                <h5 class="card-header">Rs. {{campaign?.target}} target</h5>
                <div class="card-body">
                    <p class="card-text">
                        <div class="mt-1">
                            <button class="btn btn-warning" *ngIf="campaign?.verified == false"
                                (click)="verifyCampaign()" href>Verify</button>
                            <button class="btn btn-warning" [disabled]="true"
                                *ngIf="campaign?.verified == true">Verified</button>
                        </div>
                </div>
            </div>
        </div>

        <!--Admin-->
        <div class="col-md-4" *ngIf="authService.isAdmin()">
            <div class="card">
                <h5 class="card-header">Rs. {{campaign?.target}} target</h5>
                <div class="card-body">
                    <p class="card-text">
                        <div class="mt-1">
                            <button class="btn btn-warning" *ngIf="campaign?.published == false"
                                (click)="publishCampaign()" [disabled]="loading">Publish</button>
                            <button class="btn btn-warning" *ngIf="campaign?.published == true"
                                (click)="unpublishCampaign()" [disabled]="loading">Unpublish</button>
                        </div>
                </div>
            </div>
        </div>

    </div>
</div>