<div class="container my-4">
	<div class="row">
		<div class="col-md-3 mt-2 mt-md-0">
			<div class="list-group">
				<a *ngFor="let category of categories"
					class="list-group-item list-group-item-action justify-content-between pointer"
					[ngClass]="{'active': active==category}" (click)="onCategoryChange(category)">
					{{ category | titlecase }}
					<span class="mx-2 badge badge-light badge-pill">99+</span>
				</a>

				<!--
				<a href="#" class="list-group-item list-group-item-action justify-content-between">Charity
					<span class="badge badge-light badge-pill">41</span></a>
				-->
			</div>
		</div>
		<div class="col-md-9">
			<h3 class="mb-4">
				All campaigns
			</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<h5 class="card-header">
							Card title
						</h5>
						<div class="card-body">
							<p class="card-text">
								Card content
							</p>
						</div>
						<div class="card-footer">
							Card footer
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<h5 class="card-header">
							Card title
						</h5>
						<div class="card-body">
							<p class="card-text">
								Card content
							</p>
						</div>
						<div class="card-footer">
							Card footer
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<h5 class="card-header">
							Card title
						</h5>
						<div class="card-body">
							<p class="card-text">
								Card content
							</p>
						</div>
						<div class="card-footer">
							Card footer
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>