<div class="container my-4">
  <div class="row">
      <div class="col-md-4">
          <div class="card text-center">

              <div class="card-body">
                  <img height="90px"
                      src="http://music.virginia.edu/sites/music.virginia.edu/files/styles/faculty_profile_image/public/default_images/person-placeholder_3.png?itok=dtpqDURH">
                  <h5 class="card-title">{{user.name}}
                  </h5>
                  <p class="card-text">{{user.email}}</p>
              </div>
              <div class="card-footer text-muted">
                  <a href="#" class="btn btn-primary">Settings</a>
              </div>
          </div>
      </div>
  </div>
