.unverified-campaigns{
  margin-left: 30px;
  width: 200px;
}

.new-users{
  margin-left: 100px;
  width: 200px;
}

.options{
  margin-top: 50px;
}

.campaign-card{
  width: 900px;
}

.campaign_user{
  margin-right: 0px;
}
