.unverified-campaigns{
  margin-left: 150px;
  width: 200px;
}

.new-users{
  margin-left: 100px;
  width: 200px;
}

.options{
  margin-top: 50px;
}

.campaign-card{
  width: 900px;
}

.campaign_user{
  margin-left: 60px;
}
